extends ../layouts/common
block content
	.container-home#home
		//- =====================================Marquee===============================
		if calendar
			if calendar.name.length > 1
				if hours <=12
					marquee(scrollamount="15").mt-2
						img(src='/image/animal.gif', width="4%") 
						cite.small.font-weight-bolder= "Sáng nay học môn: " + calendar.name[0] +" | Tiết: "+ calendar.hour[0]+" | Phòng: "+ calendar.room[0]+" | "+ "Nha Hiếu."
				else
					marquee(scrollamount="15").mt-2
						img(src='/image/animal.gif', width="4%") 
						cite.small.font-weight-bolder= "Chiều nay học môn: " + calendar.name[1] +" | Tiết: "+ calendar.hour[1]+" | Phòng: "+ calendar.room[1]+" | "+ "Nha Hiếu."
			else if calendar.name.length === 1
				marquee(scrollamount="15").mt-2
					img(src='/image/animal.gif', width="4%") 
					cite.small.font-weight-bolder= "Hôm nay học môn: " + calendar.name[0] +" | Tiết: "+ calendar.hour[0]+" | Phòng: "+ calendar.room[0]+" | "+ "Nhen Hiếu."
			else
				marquee(scrollamount="15").mt-2
					img(src='/image/animal.gif', width="4%") 
					cite.small.font-weight-bolder= "Hôm nay không học gì! Dành thời gian thư giản hoặc về thăm cha và em gái thôi." 

		//- ==============================================================================
		a#IMG(href="#")
			img(src="https://media2.giphy.com/media/BCgbjF9Y41UgGEam5O/giphy.gif", title="Beta").ml-auto.rounded-pill.fixed-top.light-image
		a#newSubject.font-weight-bolder(href = "#", class = "btn btn-outline-danger", title="Admin performs this function") New Subject
		a#qldt.font-weight-bolder.ml-2(href = "#", class = "btn btn-outline-primary", title="Web Trường Đại Học Cần Thơ") QLDT - CTU

		audio#audio4.au(controls src='/audio/DemDomDomVaEm.mp3' autoplay loop)

		.d-block.mt-3
			form.m-auto(action="/", method="GET")
				.text-center.select-content.mb-2
					span.font-weight-bolder.mr-1.ml-2 - Category:
					select(name="category").custom-select.custom-select-sm.select-l
						if values.category
							option.d-none(value= values.category)= values.category
							option(value='OneDayOfMe') OneDayOfMe
							option(value='school') School
							option(value='web') web
						else
							option.d-none(value='school') School
							option(value='OneDayOfMe') OneDayOfMe
							option(value='school') School
							option(value='web') web

					span.font-weight-bolder.mr-1.ml-2 - Term:
					select(name="term").custom-select.custom-select-sm.select-m
						if values.term
							option.d-none(value= values.term)= values.term
							option(value='none') none
							option(value='1') 1
							option(value='2') 2
							option(value='hè') hè
						else
							option.d-none(value='hè') hè
							option(value='none') none
							option(value='1') 1
							option(value='2') 2
							option(value='hè') hè
					

					span.font-weight-bolder.ml-2.mr-1 - Year:
					select(name="year").custom-select.custom-select-sm.select-l
						if values.year
							option.d-none(value= values.year)= values.year
							option(value='2019-2020') 2019-2020
							option(value='2019-2020') 2020-2021
						else
							option.d-none(value='2019-2020') 2019-2020
							option(value='2019-2020') 2020-2021
						
								
					button.btn.btn-sm.btn-danger.mb-1.ml-3.mt-1
						i.zmdi.zmdi-search 
						span.ml-1 Search
		.iframe#iframe
			iframe.iframe.d-block.m-auto(src="https://htql.ctu.edu.vn/htql/login.php", width="1140px", height="510px")
		#search
			form.mt-3.ml-auto.w-100(action = "/", method = "GET", class= "d-flex")
				input#myInput.form-control.input(name = "search", placeholder="Search")
		#list
			if personal
				.row
					each psn, index in personal
						.col-sm-6.col-md-6.col-lg-4
							.card.mb-4(style='height: 380px')
								img.card-img-top(src='/image/text'+(index+ 1)+'.png', alt='Card image', style='height: 380px')
								.card-img-overlay
									if day === psn.id
										h4.d-flex.card-title.text-uppercase.text-primary= psn.number
											span.ml-auto.spinner-grow.text-light(role='status')
												span.sr-only
									else
										h4.card-title.text-uppercase.text-primary= psn.number
									each content in psn.content
										cite.text-light= content
										br

			else
				.table-responsive-sm
					table.table#myTable.text-warning
						tr.bg.text-dark
							th.text-center STT
							th Mã HP
							th Tên Học Phần
							th Tên Giáo Viên
							th.text-center Ghi Chú
						if subjects
							each subject, index in subjects
								tr 
									td(class = "text-center")= index + 1
									td
										cite= subject.mamon
									td
										cite= subject.name
									td
										cite= subject.gvname

									td(class = "text-center")
										a.anotification.text-decoration-none(id = subject.id href = "#"+subject.id onclick="view(this.id)")
											cite.font-weight-bolder View
											.mb(class="badge badge-danger rounded notification")= subject.amount
			#clock_vn_outer
				#clock_vn
					#hour_vn
					#minute_vn
					#second_vn
        			
        			
		script. 
			var imgClick = $('#IMG');
			imgClick.on('click', light);
			function light(){
				var home = document.getElementById('home');
				var IMG = document.getElementById('IMG');
				home.style.backgroundImage="url('https://i.pinimg.com/originals/fd/40/b1/fd40b13250f1677d2b0d062f6cb0b908.jpg')";
				IMG.style.display="none";
			}

			var qldt = $('#qldt');
			qldt.on("click", QLDT);
			var count = 0;

			function QLDT(){
				count = count + 1;
				var iframe = document.getElementById('iframe');
				var list = document.getElementById('list');
				var search = document.getElementById('search');
				if(count % 2 !== 0){
					iframe.style.display= "block";
					list.style.display= "none";
					search.style.display= "none";
				}else{
					iframe.style.display= "none";
					list.style.display= "block";
					search.style.display= "block";
				}
			}

			function play(){
				var audio = $('#ado');
				var audio4 = $('#audio4');
				audio.src="/audio/untitled.mp3";
				audio.play();
				audio4.pause();
			}

			function view(id){
				if(localStorage.getItem('email') === "admin2000@gmail.com")
				window.location.href=/subject/+id;
				else alert('Admin performs this function');
			}

			var NewSubject = $('#newSubject')
				if(localStorage.getItem('email') === "admin2000@gmail.com"){
				NewSubject.on("click", function(){
					window.location.href="/subject/create"
				})
			}else{
				NewSubject.on("click", function(){
					alert('Admin performs this function');
				})
			}
			


	
		

