extends ../layouts/common
block content
	.container-fluid-table
		.container.text-light
			if calendar
				if calendar.name.length > 1
					if hours <=12
						marquee(scrollamount="15").mt-2
							img(src='/image/animal.gif', width="4%") 
							cite.font-weight-bolder= "Sáng nay học môn: " + calendar.name[0] +" | Tiết: "+ calendar.hour[0]+" | Phòng: "+ calendar.room[0]+" | "+ "Nha Hiếu."
					else
						marquee(scrollamount="15").mt-2
							img(src='/image/animal.gif', width="4%") 
							cite.font-weight-bolder= "Chiều nay học môn: " + calendar.name[1] +" | Tiết: "+ calendar.hour[1]+" | Phòng: "+ calendar.room[1]+" | "+ "Nha Hiếu."
				else if calendar.name.length === 1
					marquee(scrollamount="15").mt-2
						img(src='/image/animal.gif', width="4%") 
						cite.font-weight-bolder= "Hôm nay học môn: " + calendar.name[0] +" | Tiết: "+ calendar.hour[0]+" | Phòng: "+ calendar.room[0]+" | "+ "Nhen Hiếu."
				else
					marquee(scrollamount="15").mt-2
						img(src='/image/animal.gif', width="4%") 
						cite.font-weight-bolder= "Hôm nay không học gì! Dành thời gian thư giản hoặc về thăm cha và em gái thôi." 
			span
					a.btn.btn-outline-light.mb-2.ml-2(href="/timetable") Back
			form(action="/timetable", method="GET")
				.text-center.mt-5
					h3.mb-5.font-weight-bolder.text-dark Thời khóa biểu
			.table-responsive-xl
				table.table.table-hover
					tr.table-primary
						th.text-center Thứ
						th Mã HP
						th.text-center Ký hiệu
						th Tên học phần
						th Tiết học
						th Phòng
						th Tuần học
					
					each tkb in timetables.tkb
						if tkb.number === day
							tr.alert.alert-success
								td.text-center= tkb.number
								td
									each code in tkb.code
										cite= code
										br
								td.text-center
									each sign in tkb.sign
										cite= sign
										br
								td
									each name in tkb.name
										cite= name
										br
								td
									each hour in tkb.hour
										cite= hour
										br
								td
									each room in tkb.room
										cite= room
										br
								td
									each week in tkb.week
										cite= week
										br
						else
							tr
								td.text-center= tkb.number
								td
									each code in tkb.code
										cite= code
										br
								td.text-center
									each sign in tkb.sign
										cite= sign
										br
								td
									each name in tkb.name
										cite= name
										br
								td
									each hour in tkb.hour
										cite= hour
										br
								td
									each room in tkb.room
										cite= room
										br
								td
									each week in tkb.week
										cite= week
										br

						




			

				
			